html, body {
  margin: 0;
  padding: 0;
}

header { 
  font-size: 30px;
  display: flex;
  align-items:center;
  justify-content:space-between;
  margin: 0 30rem;  
}

nav {
  display: flex;
  align-items:center;
  justify-content:space-between;
}

body {
  background-color: darkred;
}

canvas {
  display: block;
  margin:auto; 
  margin-top: 5%; 
}

footer {
  margin:auto;
  display: flex;
  align-items:center;
  justify-content:space-between; 
} 