header { 
  font-size: 30px;
  display: flex;
  align-items:center;
  justify-content:flex-end;
  flex-wrap: wrap;
  margin-right: .5em;
  gap: 1em;
}

nav {
  display: flex;
  align-items:center;
  justify-content:space-between;
}

body {
  background-color: whitesmoke;
}

main {
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  gap: 5%;
} 

#ascii {
  width: 1200px;
  height: 800px;
}